<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Aesthetic Cam</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>Aesthetic Cam needs camera access to help you compose and shoot photos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Aesthetic Cam saves your finished photos to your library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Aesthetic Cam can use photos as future composition references.</string>
</dict>
</plist>
